<div class="image-aboutus-banner" style="height:200px; background-color: green;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="lg-text" style="color: white">About Us</h1>
      </div>
    </div>
  </div>
</div>
<div class="container paddingTB60">
  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

      <hr>

      <h2>Quality, Luxurious Apartment Living</h2>

      <hr>

      <!-- Post Content -->
      <p>We strive to deliver the utmost quality and service for all of your
        luxury apartment housing needs.  We offer two exclusive locations in Greensboro 
        that come well equipped with the most fabulous finishes and trims.  Premium cable,
        Wi-Fi, and utilities are all included in the price of rent.  Our team of highly trained 
        staff is dedicated to providing the best possible service to ensure that every tenant has a 
        wonderful experience during their time here.
      </p>

      <p>Our focus is making sure that your experience here is the best that it can possibly be.  We 
        look forward to you joining our family.
      </p>
   
      <hr>




    </div>