<div class="container" style="margin-top:20px;">
  <h1>Amenities</h1>
  <h2>Community Amenities</h2>
  <ul>
    <li>24 Hour Gym w/ Premium Exercise Equipment</li>
    <li>Free Starbucks Coffee Bar</li>
    <li>Computer Center w/ iMacs and PCs</li>
    <li>Free On-Site Printing</li>
    <li>Large Pool w/ Hot Tub</li>
    <li>Volleyball Court</li>
    <li>Basketball Court</li>
    <li>Outdoor Grilling Area</li>
    <li>Pet-Friendly</li>
    <li>24 Hour Maintenance Available</li>
  </ul>
</div>
<div class="container">
  <h2>Other Amenities</h2>
  <ul>
    <li>Stainless Steel Appliances</li>
    <li>Designer Kithens</li>
    <li>Private Deck</li>
    <li>Washer and Dryer Included</li>
    <li>Premium Cable and Internet Included</li>
    <li>Utilities Included</li>
  </ul>
</div>