<div class="image-aboutus-banner" style="height:500px; background-image:
  url('https://image.cnbcfm.com/api/v1/image/105182122-Luxe_apt.jpg?v=1532563645&w=1400&h=500');
  margin-bottom:40px;">
</div>
<div class="container" style="margin-bottom: 40px;">
  <div style="text-align: center;">
    <h1 class="welcome-title h1" style="display: inline !important;line-height:
      1.0em;font-size:1.76em; font-weight:bold;">
      THE STUDENT APARTMENT EXPERIENCE<br>
      YOU'VE BEEN LOOKING FOR
    </h1>
    <p style="color:#000000;font-size:2.00em;margin: 1em 0; line-height:
      1.17em;">
      When you live at The Retreat, you are not simply a resident you
      become a member of a boutique student community that provides
      everything you need to study, socialize, relax, and live your
      best life.<br>
      <br>
      The Retreat is right in the heart of Greensboro, North Carolina and
      is located just minutes from the University of North Carolina
      Greensboro campus. Residents retreat to their spacious
      apartments, outfitted with designer kitchens and a washer and
      dryer. Other great features include two resort-style swimming
      pools, our signature fitness center with traversing wall,
      dance studio, sand volleyball court and a pet friendly
      environment! Stop by today to see this amazing student
      community waiting for you to call home.
    </p>
  </div>
</div>


