
<form class="d-flex justify-content-center align-items-center align-self-center" [formGroup]="loginForm">
  <div class="form-group">
    <h1 style="color:green;">Resident Portal Login</h1>
    <div>
      <label for="email">Email Address</label><br/>
      <input type="email" placeholder="Enter Email" formControlName="email" style="width: 400px; margin-bottom:15px;" id="email">
    </div>
    <div>
      <label for="pwd">Password</label><br/>
      <input type="password" placeholder="Enter Password" formControlName="password" style="width: 400px; margin-bottom:15px;" id="pwd">
    </div>
    <div>
      <p>Forgot Password?  <a href="home">Click Here</a></p>
    </div>
    <button class="btn btn-success" style="width: 400px;" id="btn" (click)="login()">Login</button>
  </div>
</form>